ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 1rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 1rem;
  right: 3rem;
  top: 3rem;

  a {
    color: #0765a4;
    text-decoration: none;
    font-weight: 800;
    &:hover {
      border-bottom: 2.5px solid #0765a4;
    }
  }
}

img {
  cursor: pointer;
}

button {
  color: #0765a4;
  font-weight: 800;
  border: none;
  background-color: white;
  cursor: pointer;
  &:hover {
    border-bottom: 2.5px solid #0765a4;
  }
}
