div {
  text-align: center;
}

button {
  background-color: white;
  color: #0765a4;
  border-radius: 1rem;
  padding: 1rem;
  border: none;
  margin-bottom: 2rem;
  &:hover {
    background-color: red;
    color: white;
  }
}
