section {
  text-align: center;
  h2 {
    background-color: white;
    color: #0765a4;
    text-align: center;
    margin-block: 1rem;
    border-radius: 1rem;
    padding: 0.5rem;
    display: inline-flex;
  }
  a {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
}
ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
li {
  border-radius: 1rem;
  background-color: white;
  color: #0765a4;
  margin-inline: 3rem;
  padding-block: 1rem;
}

div {
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.add-project {
  font-size: x-large;
  border-radius: 1rem;
  border: 2px solid white;
  margin-inline: 7rem;
  &:hover {
    background-color: white;
    color: #0765a4;
  }
}
